.footer {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  font-size: 16px;
  line-height: 20px;
  gap: 10px 40px;

  padding: 25px 30px;
  background-color: var(--primary);
  color: var(--white);
}

.footer a:hover {
  color: rgb(209, 193, 193);
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
