.tag {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}

.s {
  padding: 5px 12px;

  font-size: 12px;
  line-height: 12px;
}

.m {
  padding: 5px 12px;

  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-ligth);
}
.red {
  color: var(--white);
  background-color: #de0000;
  font-weight: 600;
}
.gray {
  color: var(--white);
  background-color: #b3c0d9;
  font-weight: 600;
}
.green {
  color: var(--green);
  background-color: var(--green-ligth);
  font-weight: 600;
}
.primary {
  font-weight: 500;
  border: 1px solid #7653fc;

  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: var(--primary);
}
